  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
<style>
    table {
     background-color: rgb(216, 216, 216);
    }
    th{
     background-color: rgb(133, 109, 155);
     color: white;
    }
    button {
    color: white;
    margin-bottom: 1em;
    padding: 0.4em;
    cursor: pointer;
    background-color: rgb(133, 109, 155);
    }
    input {
    background-color: rgb(165, 75, 255);
    padding: 0.4em;

    }
    input::placeholder {
      color: white;
    }

    form{
      padding: 1em;
      background-color: rgb(37, 124, 124);
      border: 2px solid black
    }
    </style>
    </head>
    <body>    

      <table border="1" width="100%" cellspacing="5px" cellpadding="15px"  >
        <tr>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Prosek</th>
          <th>Grad</th>
          <th>Izbrisi Student</th>
        </tr>
        <% studenti.forEach(student => { %>
        <tr>
          <td><%= student.ime %></td>
          <td><%= student.prezime %></td>
          <td><%= student.prosek %></td>
          <td><%= student.grad %></td>
          <td>
            <form action="/delete/<%= student.ime %>" method="POST">
              <button type="submit">Izbrisi</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </table>

      <h3>Dodadi nov student</h3>
        <form action="/" method="POST">
          <label for="ime">Ime: <br/></label>
          <input type="text" name="ime" placeholder="Ime" required ><br>
          <label for="prezime">Prezime: <br/></label>
          <input type="text" name="prezime" placeholder="Prezime" required><br>
          <label for="prosek">Prosek: <br/></label>
          <input type="text" name="prosek" placeholder="Prosek" required><br>
          <label for="grad">Grad: <br/></label>
          <input type="text" name="grad" placeholder="Grad" required><br>
          <br>
          <input type="submit" value="Add student">
      </form>
    </body>
  </html>
